### 1.4.4 Abstraction Layers and Verification

And just like us as software engineers, you know, we let go of some of the details of like understanding the assembly itself that's happening under the hood. And the way that you do this while still being safe and being responsible is to find an abstraction layer that you can verify even without knowing the implementation underneath it.
